#parent
{
    display: block;
    background-color: rgba(0, 0, 0, 0.562);
    border: solid red 1px;
    width: 90vw;
    height: 60vh;
    margin: 0;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.header
{
    border: solid 1px rgb(0, 60, 255);
}